@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Pixelify+Sans:wght@400..700&display=swap');


*{
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    background-color: #4880f7;
}

a{
    text-decoration: none !important;
    color: black !important;
}

.nav-desktop{
    display: none;
}

.prueba{
    height: auto;
    width: 100%;
}

.prueba h1{
    font-family: "Pixelify Sans", sans-serif;
    color: white;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
}

.prueba p{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-size: 20px;
    text-align:center;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}


.navbarr{
    display: flex; 
    width: 100%;
    height: 60px;
    align-items: center;
    margin: 0;
    background-color: #4880f7;
    position: relative;
    z-index: 2;
}

.fa-bars{
    font-size: 40px;
    margin: 0 45px;
}

.lista-paginas{
    width: 100%;
    align-items: center;
    z-index: 1;
    position: absolute;
    background-color: white;
}

.unordered-list{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-size: 20px;
}

.unordered-list li{
    margin-top: 10px;
    margin-bottom: 10px
}

main{
    height: 90vh;
    width: 100%;
}

.money-section{
    width: 100%;
    height: 89vh;
    color: white;
    font-family: 'Pixelify Sans', sans-serif;
    text-align: center;
}

.money-section h1{
    font-size: 30px;
    margin-bottom: 20px;
}

.money-box{
    width: 100%;
    text-align: center;
    font-weight: 400px;
    font-style: normal;
    font-size: 20px;
    color: white;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo-dinero{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-dinero img{
    width: 15em;
    margin-top: 50px;
}

footer{
    width: 100%;
    height: auto;
    background-color: black;
    position: absolute;
    color: white;
}

footer h2{
    font-family: "Pixelify Sans", sans-serif;
    margin-top: 10px;
    margin-left: 10px;
}

.social{
      margin-top: 10px;
}

.social-logos{
    margin-left: 10px;
}

.social-logos img{
    width: 45px;
}

.paragraph-footer{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-size: 13px;
    text-align: center;
    margin-top: 15px;
}

@media (min-width: 1024px){

    body{
        background-image: url(../images/fondo\ web.png);
        background-size: contain;
    }

    main{
        width: 70%;
        background-color: #4880f7;
        height: 100vh;
    }

    #menu-hamburguesa{
        display: none;
    }

    .nav-desktop{
        display: block;
        margin: 0px 10px 0px 0px;
    }
     
    .unordered-list-desktop{
        display: flex;
        flex-direction:row;
        list-style: none;
        padding: 0;
        font-family: "Pixelify Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400px;
        font-style: normal;
        font-size: 20px;
        margin-bottom: 0px;
    }

    li{
        margin-right: 10px;
        margin-left: 10px;
    }

    li > a:hover{
        border: none;
        cursor: pointer;
        text-shadow: 0px 6px 10px rgba(0,0,0,0.76);
    }

    .money-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logo-dinero{
        flex-direction: row;
    }

    .paypal{
        width:25em !important;
    }

    footer h2{
        margin-top: 0px;
    }



}