@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Pixelify+Sans:wght@400..700&display=swap');


*{
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    background-color:#4880f7;
}

a{
    text-decoration: none;
    color: black;
}

.nav-desktop{
    display: none;
}

.navbarr{
    display: flex; 
    width: 100%;
    height: 60px;
    align-items: center;
    margin: 0;
    background-color: #4880f7;
    position: relative;
    z-index: 2;
}

.fa-bars{
    font-size: 40px;
    margin: 0 45px;
}

.lista-paginas{
    width: 100%;
    align-items: center;
    z-index: 1;
    position: absolute;
    background-color: white;
}

.unordered-list{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-size: 20px;
}

.unordered-list li{
    margin-top: 10px;
    margin-bottom: 10px
}

.merch-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.merch-section h1{
    font-family: "Pixelify Sans", sans-serif;
    color: white;
    margin-bottom: 20px;
    font-size: 30px;
}

.merch-section p{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-size: 20px;
    text-align:center;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.fotos-game{
    width: 100%;
    height: auto;
}


.photo{
    width: 20em;
    height: auto;
    border: 1px solid red;
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.photo img{
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: -1px;
}

.photoTwo{
    width: 20em;
    height: auto;
    border: 1px solid red;
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.photoTwo img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.description{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgb(235, 15, 15);
}

.colors{
    width: 30%;
    display: flex;
    margin-bottom: 0px;
}

.span_uno{
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
    margin-bottom: 10px;
    cursor: pointer;
}

.span_dos{
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}

footer{
    width: 100%;
    height: auto;
    background-color: black;
    position: relative;
    bottom: 0;
    color: white;
}

footer h2{
    font-family: "Pixelify Sans", sans-serif;
    margin-top: 10px;
    margin-left: 10px;
}

address{
    margin-left: 10px;
    color: white;
    padding: 10px;
}

address a{
    color: white;
}

.social{
      margin-top: 10px;
      margin-left: 10px;
}

.social-logos{
    margin-left: 10px;
}

.social-logos img{
    width: 45px;
}

.paragraph-footer{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-size: 13px;
    text-align: center;
    margin-top: 15px;
}

@media (min-width: 1024px){
    body{
        background-image: url(../images/fondo\ web.png);
        background-size: contain;
    }

    main{
        width: 70%;
        height: 100vh;
        background-color: #4880f7;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #menu-hamburguesa{
        display: none;
    }

    .nav-desktop{
        display: block;
        margin: 0px 10px 0px 0px;
    }
     
    .unordered-list-desktop{
        display: flex;
        flex-direction:row;
        list-style: none;
        padding: 0;
        font-family: "Pixelify Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400px;
        font-style: normal;
        font-size: 20px;
    }

    li{
        margin-right: 10px;
        margin-left: 10px;
    }

    li > a:hover{
        border: none;
        cursor: pointer;
        text-shadow: 0px 6px 10px rgba(0,0,0,0.76);
    }

    .fotos-game{
        width: 100%;
        height: auto;
        display: flex;
    }

    footer h2{
        margin-top: 0px;
    }

}