@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Pixelify+Sans:wght@400..700&display=swap');


*{
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    background-color:#4880f7;
}

a{
    text-decoration: none;
    color: black;
}

main{
    height: auto;
}

.nav-desktop{
    display: none;
}

.navbarr{
    display: flex; 
    width: 100%;
    height: 60px;
    align-items: center;
    margin: 0;
    background-color: #4880f7;
    position: relative;
    z-index: 2;
}

.fa-bars{
    font-size: 40px;
    margin: 0 45px;
}

.lista-paginas{
    width: 100%;
    align-items: center;
    z-index: 1;
    position: absolute;
    background-color: white;
}

.unordered-list{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-size: 20px;
}

.unordered-list li{
    margin-top: 10px;
    margin-bottom: 10px
}

.about-section{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.about-section h1{
    font-family: "Pixelify Sans", sans-serif;
    color: white;
    margin-bottom: 20px;
    font-size: 30px;
}

.logo-container{
    width: 65%;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 22px;
}

.capybara-logo-about{
    width: 90%;
    position: relative;
    z-index: -1
}

.about-paragraph{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-size: 20px;
    text-align:center;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer{
    width: 100%;
    height: auto;
    background-color: #006691;
    position: relative;
    bottom: 0;
    color: white;
}

footer h2{
    font-family: "Pixelify Sans", sans-serif;
    margin-top: 10px;
    margin-left: 10px;
}

address{
    margin-left: 10px;
    color: white;
    padding: 10px;
}

address a{
    color: white;
}

.social{
      margin-top: 10px;
      margin-left: 10px;
}

.social-logos{
    margin-left: 10px;
}

.social-logos img{
    width: 45px;
}

.paragraph-footer{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-size: 13px;
    text-align: center;
    margin-top: 15px;
}

@media (min-width: 768px) {
    
    .about-section{
        height: 100vh;
    }
    
    footer{
        position:relative;
        bottom: 0;
    }
}

@media (min-width: 1024px){

    body{
        background-image: url(../images/fondo\ web.png);
        background-size: contain;
    }

    main{
        width: 70%;
        background-color: #4880f7;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #menu-hamburguesa{
        display: none;
    }

    .nav-desktop{
        display: block;
        margin: 0px 10px 0px 0px;
    }
     
    .unordered-list-desktop{
        display: flex;
        flex-direction:row;
        list-style: none;
        padding: 0;
        font-family: "Pixelify Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400px;
        font-style: normal;
        font-size: 20px;
    }

    li{
        margin-right: 10px;
        margin-left: 10px;
    }

    li > a:hover{
        border: none;
        cursor: pointer;
        text-shadow: 0px 6px 10px rgba(0,0,0,0.76);
    }

    .about-section{
        background-color: #4880f7;
        margin-top: 0;
        justify-content: flex-start;
        height: auto;
    }

    .logo-container{
        width: 30%;
        z-index: 1;
    }

    .logo-container img{
        width: 80%;
        padding: 5px;
    }

    .social-logos img{
        transition: transform 0.3s ease-in-out; 
    }

    .social-logos img:hover{
        transform: scale(1.3);
    }

    footer{
        position:relative;
        bottom: 0;
    }


    footer h2{
        margin-top: 0px;
    }

}