@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Pixelify+Sans:wght@400..700&display=swap');


*{
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    background-color:#4880f7;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    font-family: 'Pixelify Sans', sans-serif;
}

.nav-desktop{
    display: none;
}

.navbarr{
    display: flex; 
    width: 100%;
    height: 60px;
    align-items: center;
    margin: 0;
    background-color: #4880f7;
    position: relative;
    z-index: 2;
}

.fa-bars{
    font-size: 40px;
    margin: 0 45px;
}

.lista-paginas{
    width: 100%;
    align-items: center;
    z-index: 1;
    position: absolute;
    background-color: white;
}

.unordered-list{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-size: 20px;
}

.unordered-list li{
    margin-top: 10px;
    margin-bottom: 10px
}

.first-section{
    width: 100%;
}

.banner-elda{
    width: 100%;
}

.second-section{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;    
    justify-content: center;
    flex-direction: column;
}

.page-box{
  /*  width: 50%;
    height: 50px;*/
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.page-box img{
    width: 23em;
    margin-top: 13px;
    filter:drop-shadow(0px 5px 20px black);
}

.cartel-title{
    width: 62%;
    color: white;
    position:absolute;
    text-align: center;
}

.cartel-title h1{
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}


.third-section{
    width: 100%;
}

.arrow-up{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    position: fixed;
    top: 70%;
    left: 83%;
    display: flex;
    align-items: center;
    z-index: 1;
}

.arrow-up i{
    font-size: 35px;
}



.card{
    width: 16.4em;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 10%;
    background-color: white;
    box-shadow: 0px 7px 24px 8px rgba(0,0,0,0.48);
    -webkit-box-shadow: 0px 7px 24px 8px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 7px 24px 8px rgba(0,0,0,0.48);
    z-index: 0;
}

.card p{
    font-family: 'Pixelify Sans';
    text-align: center;
    margin-top: 30px;
    font-size: large;
    padding: 10px;
    z-index: 2;
}

.inside-card{
    width: 20em;
    height: 100px;
    margin-top: -60px;
    margin-right: 0px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inside-card h2{
    margin-top: -80px;
    font-family: 'Pixelify Sans';
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
    color: white;
    z-index: 2;
}

.inside-card-cartel{
    width: 20em;
    filter:drop-shadow(0px 5px 20px black);
    z-index: 1;
}

footer{
    width: 100%;
    height: auto;
    background-color: black;
    position: relative;
    bottom: 0;
    color: white;
}

footer h2{
    font-family: "Pixelify Sans", sans-serif;
    margin-top: 10px;
    margin-left: 10px;
}

address{
    margin-left: 10px;
    color: white;
    padding: 10px;
}

address a{
    color: white;
}

.social{
      margin-top: 10px;
      margin-left: 10px;
}

.social-logos{
    margin-left: 10px;
}

.social-logos img{
    width: 45px;
}

.paragraph-footer{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-size: 13px;
    text-align: center;
    margin-top: 15px;
}

@media (min-width: 1024px){
    body{
        background-image: url(../images/fondo\ web.png);
        background-size: contain;
    }

    #menu-hamburguesa{
        display: none;
    }

    .nav-desktop{
        display: block;
        margin: 0px 10px 0px 0px;
    }
     
    .unordered-list-desktop{
        display: flex;
        flex-direction:row;
        list-style: none;
        padding: 0;
        font-family: "Pixelify Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400px;
        font-style: normal;
        font-size: 20px;
    }

    li{
        margin-right: 10px;
        margin-left: 10px;
    }

    li > a:hover{
        border: none;
        cursor: pointer;
        text-shadow: 0px 6px 10px rgba(0,0,0,0.76);
    }

    .arrow-up{
        display: none;
    }

    .second-section{
        background-color: #4880f7;
        width: 70%;
        margin-bottom: 0;
        margin-top: -5px;
        border: initial;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .page-box{
        height: auto;
        border-radius: initial;
        border: initial;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Pixelify Sans', sans-serif;
        color: white;
    }

    .page-box img{
        width: 31em;
    }

    .third-section{
        background-color: #4880f7;
        width: 70%;
        margin-top: 0px;
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
    }

    .third-section a{
        margin: 0px;
    }

    .card{
      margin: 36px;
    }

    footer h2{
        margin-top: 0;
    }


}