*{
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    background-color:#4880f7;
}

.navbarr{
    display: flex; 
    width: 100%;
    height: 60px;
    align-items: center;
    margin: 0;
    background-color: #4880f7;
    position: relative;
    z-index: 2;
}

.fa-bars{
    font-size: 40px;
    margin: 0 45px;
}

.lista-paginas{
    width: 100%;
    align-items: center;
    z-index: 1;
    position: absolute;
    background-color: white;
}

.unordered-list{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.first-section{
    width: 100%;
}

.banner-elda{
    width: 100%;
    height: 113px;
    background-image: url(/images/legendofelda2.png);
    background-size: contain;
    background-repeat: no-repeat;
}