@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Pixelify+Sans:wght@400..700&display=swap');


*{
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    background-color: #4880f7;
}

a{
    text-decoration: none;
    color: black;
}

.nav-desktop{
    display: none;
}

.navbarr{
    display: flex; 
    width: 100%;
    height: 60px;
    align-items: center;
    margin: 0;
    background-color: #4880f7;
    position: relative;
    z-index: 2;
}

.fa-bars{
    font-size: 40px;
    margin: 0 45px;
}

.lista-paginas{
    width: 100%;
    align-items: center;
    z-index: 1;
    position: absolute;
    background-color: white;
}

.unordered-list{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-size: 20px;
}

.unordered-list li{
    margin-top: 10px;
    margin-bottom: 10px
}

.introduction-div{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Pixelify Sans', sans-serif;
    color: white;
}

.introduction-div h1{
    color: white;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
}

.introduction-div p{
    text-align: center;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-size: 20px;
    color: white;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-section{
    width: 100%;
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

form { 
    max-width:420px; 
    margin:0px auto; 
    padding:15px;
}

.feedback-input {
  color:black;
  font-family: 'Pixelify Sans', Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #ffffff;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #000000; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Pixelify Sans', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#ffffff;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:black;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }

footer{
    margin-top: 30px;
    width: 100%;
    height: auto;
    background-color: #006691;
    position: absolute;
    
    color: white;
}

footer h2{
    font-family: "Pixelify Sans", sans-serif;
    margin-top: 10px;
    margin-left: 10px;
}

address{
    margin-left: 10px;
    color: white;
    padding: 10px;
}

address a{
    color: white;
}

.social{
      margin-top: 10px;
      margin-left: 10px;
}

.social-logos{
    margin-left: 10px;
}

.social-logos img{
    width: 45px;
}

.paragraph-footer{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-size: 13px;
    text-align: center;
    margin-top: 15px;
}

@media (min-width: 768px){
    footer{
        bottom: 0;
    }
}

@media (min-width: 1024px){

    body{
        background-image: url(../images/fondo\ web.png);
        background-size: contain;
    }




    main{
        width: 70%;
        background-color: #4880f7;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #menu-hamburguesa{
        display: none;
    }

    .nav-desktop{
        display: block;
        margin: 0px 10px 0px 0px;
    }
     
    .unordered-list-desktop{
        display: flex;
        flex-direction:row;
        list-style: none;
        padding: 0;
        font-family: "Pixelify Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400px;
        font-style: normal;
        font-size: 20px;
        margin-bottom: 0px;
    }

    li{
        margin-right: 10px;
        margin-left: 10px;
    }

    li > a:hover{
        border: none;
        cursor: pointer;
        text-shadow: 0px 6px 10px rgba(0,0,0,0.76);
    }

    .introduction-div p{
        width: 55%;
    }

    .introduction{
        width: 100%;
        background-color: #4880f7;
    }

    .form-section{
        width: 100%;
        background-color: #4880f7;
        height: 24em;
    }

    footer{
        width: 100%;
        height: auto;
        position: initial;
        bottom: 0;
        color: white;
        margin-top: 0px;
        position: unset;
    }

    footer h2{
        margin-top: 0px;
    }



}